#container{
width: 800px
margin: 0 auto;
}

/*Aqui entrara mais informações */


/*Organizando a barra_lateral_esqueda */



.links-barra ul{
margin:  auto;

}

.links_barra li{
 margin: 0px 18px 0px 0px;
 list-style:none;
 


}

.links_barra li a{
 color: #000000;
 padding: 5px 12px 7px;
 text-decoration: none;
 font-size: 16px;
 font-family: verdana;

}

#corpo {

margin: auto;
width: 530px;
padding: 10px 5px 0px 5px;

}

ul{
	list-style-type: none;
	padding-left: 0;
}


.caixa  {

margin-top: 10px;
padding: 5px 5px 5px 5px;
background-color: #dddddd;
border: 2px solid #0033CC;
color: #000000;

}

h1{
font-size: 20px;
color: #0033CC;
padding: 10px;
font-family: verdana;
}

#barralateral-esq{
left:100px;


}


#barralateral-dir{
height: 100px;

}



#ultimas-noticias{
margin-left: 200px;

}