#historia{
margin-top: 50px;

}


#historia h1{
color:#00FA9A;
text-align: center;
background:#2F4F4F;
font-style:verdana;

}


#adriano{
border: solid;
border-color: red;
margin-left: 30px;


}


.about{
color: #008B8B;

}



.media-heading{   /* Class atribuida para formatar o <h4> Adriano</h4>*/
color:#2F4F4F;

}



.sobre_adriano{  /* Class atribuida para formatar o <span> <p> Adriano</p>  </span>*/
	color:#5F9EA0;
	font-style: verdana;
}


